{% extends 'app/website.html' %}
{% load static %}
{% block content %}

<!-- PAGE TITLE -->
<div class="container py-5">
    <h1 class="h2 fw-bold">My Account</h1>
</div>

<!-- -->
<div class="container pb-6">
    <div class="row g-4">
        <!-- sidebar -->
        <div class="col-12 col-lg-3">
            {% include 'app/myaccount.html' %}
        </div>
        <!-- content -->
        <div class="col-12 col-lg-9">
            <!-- item -->
            <div class="card p-3 shadow-xs shadow-md-hover mb-3 rounded bg-white">
                <div class="row col-border">
                    <form method="POST" action="/update-card/{{ payment.id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <h2 class="h4 mb-4">
                        Card  <strong class="text-primary">Payment Method</strong>
                      </h2>
  
                      <div class="form-floating mb-3">
                        <input required placeholder="Card No" id="card_no" value="{{ payment.card_no }}" name="card_no" type="number" class="form-control">
                        <label for="card_no">Card No</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input required placeholder="CVC" id="cvc" value="{{ payment.card_cvc }}" name="cvc" type="number" class="form-control">
                        <label for="cvc">CVC</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input required placeholder="Expiration Date" id="card_exp" value="{{ payment.card_exp }}" name="card_exp" type="date" class="form-control">
                        <label for="card_exp">Expiration Date</label>
                      </div>

                      <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                        <span>Save Changes </span>
                      </button>
  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / -->

{% endblock content %}