{% extends 'app/website.html' %}
{% load static %}
{% block content %}
			<!-- start :: blog content -->
			<div class="section">
				<div class="container"> 

					<div class="row g-xl-5">

						<div class="col-lg-12 order-2 order-lg-1">

							<!-- FEATURED POST : ALWAYS LAST ADDED -->
							<a href="/blog" class="d-block mb-7 position-relative text-dark clearfix text-decoration-none">

								<figure class="d-block text-center overlay-dark-hover overlay-opacity-2 rounded overflow-hidden">
									<img class="img-fluid rounded" src="../../static/uploads/blog/banner.jpg" alt="...">
								</figure>

								<p class="text-muted small text-center">
									Post Date: <time datetime="2019-12-03">Jul 03, 2022</time>
								</p>
								<h2 class="h4"></h2>

							</a>
							<!-- /FEATURED POST : ALWAYS LAST ADDED -->
							<!-- posts -->
							<div class="row">
								<!-- post -->
                                {% for data in blogs %}
								<a href="/single-blog/{{ data.id }}" class="col-12 col-md-4 mb-5 position-relative text-dark clearfix text-decoration-none">
									<figure class="d-block text-center overlay-dark-hover overlay-opacity-2 rounded overflow-hidden">
										<img class="img-fluid rounded" src="../../static/{{ data.photo }}" alt="...">
									</figure>

									<p class="text-muted small">
										Post Date: <time datetime="2019-12-03">{{ data.created }}</time>
									</p>
									<h3 class="h5">{{ data.title }}</h2>
								</a>
                                {% endfor %}
								<!-- /post -->
							</div>
							<!-- /posts -->


						</div>
					</div>

				</div>
			</div>	
			<!-- end :: blog content -->
{% endblock content %}



