{% extends 'app/website.html' %}
{% load static %}
{% block content %}

<!-- SWIPER -->
<div class="section p-0 position-relative overflow-hidden">
  <div class="swiper-container swiper-btn-group swiper-btn-group-end text-white vh-75 overflow-hidden" data-swiper='{
            "slidesPerView": 1,
            "spaceBetween": 0,
            "autoplay": { "delay" : 6500, "disableOnInteraction": true },
            "loop": true,
            "effect": "fade",
            "pagination": { "type": "bullets" }
          }'>
    <div class="swiper-wrapper h-100">
      <!-- slide 1 (button link) -->
      <div class="h-100 swiper-slide d-middle overlay-dark overlay-opacity-5 bg-cover text-decoration-none text-white"
        style="background-image:url('../../static/website/banner.jpg')">
        <div class="position-absolute container z-index-10 text-white text-center" data-aos="fade-in"
          data-aos-delay="150" data-aos-offset="0">

          <h1 class="display-3 mb-4 fw-bold" data-swiper-parallax="-300">
            Fashion collection
          </h1>

          <div data-swiper-parallax="-100">
            <!-- parallax directly on button will cancel hover fade -->
            <a href="#" class="btn btn-lg btn-outline-light shadow-none transition-hover-top">
              Shop now
              <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                </path>
              </svg>
            </a>
          </div>

        </div>
      </div>
      <!-- /slide 1 (button link) -->
      <!-- slide 2 (full link) -->
      <a href="#"
        class="h-100 swiper-slide d-middle overlay-dark overlay-opacity-5 bg-cover text-decoration-none text-white lazy"
        style="background-image:url('../../static/website/banner2.jpg')">
        <div class="position-relative container z-index-10 text-white text-center" data-aos="fade-in"
          data-aos-delay="150" data-aos-offset="0">

          <h2 class="display-3 mb-4 fw-bold" style="z-index: -999888888 !important;" data-swiper-parallax="-300">
            Fashion collection
          </h2>

          <div data-swiper-parallax="-100">
            <!-- parallax directly on button will cancel hover fade -->
            <span class="btn btn-lg btn-outline-light shadow-none transition-hover-top">
              View collection
            </span>
          </div>

        </div>
      </a>
      <!-- /slide 2 (full link) -->

    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>
    <!-- Add Pagination -->
    <div style="height: 30px;" class="swiper-pagination top-0 mt-4"></div>
    <!-- v shape : .bg-light, .shape-xs (remove .shape-xs for .vh-100 container) -->
    <div class="shape-v shape-xs bottom-0"></div>
  </div>
</div>
<!-- /SWIPER -->

<!-- INFO BOX -->
<div class="section py-0 border-bottom-xs">
  <div class="container py-3">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
        <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/build_product.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
        <div class="ps-3">
          <h3 class="fs-5 mb-1">Money Back</h3>
          <p class="m-0">Love it! Use it! Reuse it!</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
        <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/cooperation.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
        <div class="ps-3">
          <h3 class="fs-5 mb-1">Free Shipping</h3>
          <p class="m-0">Shipping is on us</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
        <img width="60" height="60" class="lazy" data-src="../../static/website/svg/artworks/people_crossbrowser.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
        <div class="ps-3">
          <h3 class="fs-5 mb-1">Free Support</h3>
          <p class="m-0">24/24 available</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
        <a href="#" class="text-dark text-decoration-none d-flex">
          <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/startup.svg"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
          <div class="ps-3">
            <h3 class="fs-5 mb-1">Best Deal</h3>
            <p class="m-0">Quality guaranteed</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- /INFO BOX -->

<!-- OFFER BLOCK -->
<div class="section">
  <div class="container">
    <div class="mb-7 text-center px-3">
      <h2 class="h1 text-center-xs fw-bold">
        <span class="text-danger">30% OFF</span> This Week
      </h2>
      <p class="lead max-w-600 mx-auto">
        Explore our fresh and new arrivals, up to 30% for the entire week
      </p>
    </div>
    <!-- product list -->
    <div class="row g-2 g-xl-4">
      <div class="order-2 col-12 col-lg-6 mb-4 mb-2-xs">
        <div
          class="bg-white shadow-md shadow-danger-lg-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-2 h-100">
          <a href="#"
            class="card position-relative h-100 border-0 rounded text-decoration-none overflow-hidden bg-cover text-white overlay-dark overlay-opacity-0"
            style="background-image:url('../../static/website/banner2.jpg')">
            <div class="card-body p-4" style="height: 230px;">
              <span class="typed text-warning h5" data-typed-string="Just Arrived|Special Edition|Limited Edition"
                data-typed-speed-forward="40" data-typed-speed-back="30" data-typed-back-delay="700"
                data-typed-loop-times="infinite" data-typed-smart-backspace="true" data-typed-shuffle="false"
                data-typed-cursor="|">&nbsp;</span>
              <!-- <h2 class="d-block">
                    Max Air Championship
                  </h2> -->
              <!-- <hr class="border-light opacity-2"> -->
              <!-- price -->
              <!-- <span class="h5 d-block text-white fw-medium">
                    <del class="text-white">$220<sup>00</sup></del>
                    $173<sup>00</sup>
                  </span> -->
              <!-- rating -->
              <!-- <span class="d-block small">
                    <i class="rating-5 text-warning"></i>
                    <span class="text-muted">(4.7)</span>
                  </span> -->
            </div>

            <div class="card-footer bg-transparent border-0">
              <hr class="border-light opacity-0">
              <!-- opional text -->
              <!-- <span class="smaller float-end fs-6 p-2">
                    limited
                  </span> -->
              <!-- countdown -->
            </div>


          </a>

        </div>

      </div>
      <!-- /MAIN/FEATURED -->


      <!-- item -->
      <div class="order-1 col-6 col-lg-3">
        <div
          class="bg-white shadow-xs shadow-3d-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-2 h-100">
          <a href="" class="d-block text-gray-800">
            <figure class="text-center bg-gradient-radial-light rounded-top overflow-hidden">
              <img class="img-fluid bg-suprime opacity-9" src="../../static/{{ products.7.photo }}" alt="...">
            </figure>
            <span class="d-block fs-6 p-2">
              <!-- rating -->
              <!-- title -->
              <span class="d-block fw-medium">{{ products.7.title }}</span>
              <!-- price -->
              <span class="d-block fw-medium">
                <del class="text-muted"></del>
                <span class="text-dark">$ {{ products.7.price }}</span>
              </span>
            </span>
          </a>
        </div>

      </div>
      <!-- /item -->


      <!-- item -->
      <div class="order-lg-2 col-6 col-lg-3">
        <div
          class="bg-white shadow-xs shadow-3d-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-2 h-100">
          <a href="" class="d-block text-gray-800">
            <figure class="text-center bg-gradient-radial-light rounded-top overflow-hidden">
              <img class="img-fluid bg-suprime opacity-9" src="../../static/{{ products.12.photo }}" alt="...">
            </figure>
            <span class="d-block fs-6 p-2">
              <!-- title -->
              <span class="d-block fw-medium"> {{ products.12.title }}</span>
              <!-- price -->
              <span class="d-block fw-medium">
                <del class="text-muted"></del>
                <span class="text-dark">$ {{ products.12.price }}</span>
              </span>
            </span>
          </a>
        </div>

      </div>
      <!-- /item -->





      {% for data in products %}
      <div class="order-2 col-6 col-lg-3">
        <div class="bg-white shadow-xs shadow-3d-hover transition-all-ease-250 
              transition-hover-top rounded show-hover-container p-2 h-100">
          <a href="product-detail/{{ data.id }}" class="d-block text-gray-800">
            <figure class="text-center bg-gradient-radial-light rounded-top overflow-hidden">
              <img class="img-fluid bg-suprime opacity-9" src="../../static/{{ data.photo }}" alt="...">
            </figure>

            <span class="d-block fs-6 p-2">
              <!-- title -->
              <span class="d-block fw-medium">{{ data.title }}</span>
              <!-- price -->
              <span class="d-block fw-medium">
                <del class="text-muted">{{ data.price }}</del>
                <span class="text-dark">{{ data.price }}</span>
              </span>

            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /product list -->
  </div>
</div>
<!-- /OFFER BLOCK -->
{% endblock %}