{% extends 'app/website.html' %}
{% load static %}
{% block content %}

<!-- PAGE TITLE -->
<div class="container py-5">
    <h1 class="h2 fw-bold">My Account</h1>
</div>

<!-- -->
<div class="container pb-6">
    <div class="row g-4">
        <!-- sidebar -->
        <div class="col-12 col-lg-3">
            {% include 'app/myaccount.html' %}
        </div>
        <!-- content -->
        <div class="col-12 col-lg-9">
            <!-- item -->
            <div class="card p-3 shadow-xs shadow-md-hover mb-3 rounded bg-white">
                {% for data in cart %}
                <div class="row col-border">

                    <!-- image -->
                    <div class="col-5 col-sm-3 col-md-3 col-lg-2 text-center">
                        <a class="text-decoration-none">
                            <img class="img-fluid bg-suprime"
                                src="../../static/{{ data.photo }}"
                                alt="...">
                        </a>
                    </div>

                    <!-- detail -->
                    <div class="col-7 col-sm-5 col-md-4 col-lg-6 bordered-start">

                        <a class="link-normal fw-medium" href="">
                            {{ data.title }}
                        </a>

                        <div class="mb-3 clearfix">
                            <p>{{ data.description }}</p>
                        </div>

                        <p class="fw-medium mb-0">
                            <del class="text-muted"></del> Price: $ {{ data.price }}
                        </p>
                        <p class="fw-medium mb-0">
                            <del class="text-muted"></del> Quantity : {{ data.quantity }}
                        </p>

                    </div>

                    <div class="col-12 d-block d-sm-none mt-3">
                        <!-- mobile spacer -->
                    </div>

                    <!-- buttons -->
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-align-end text-align-center-xs border-0">

                        <div class="clearfix mt-2">
                            <a href="/track-myorder/{{ data.id }}" style="width: 150px;" 
                            class=" btn btn-sm btn-primary d-block-xs fw-normal fs-6 w-100-xs d-block-xs">
                                Track Order
                            </a>
                        </div>

                        <div class="clearfix mt-2">
                            <a href="/refund/{{ data.id }}"  style="width: 150px;" class="btn btn-sm btn-danger d-block-xs fw-normal fs-6 w-100-xs d-block-xs">
                                Refund 
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- / -->

{% endblock content %}