{% extends 'app/website.html' %}
{% load static %}
{% block content %}

<div class="bg-gray-200">
    <!-- page title -->
    <div class="container py-5 text-center">
    </div>
    <!-- /page title -->
    <!-- -->
    <div class="container pb-6">

        <div class="row g-4">
            <!-- sidebar -->
            <div class="col-12 col-lg-3">
                <form method="GET" action="/search" id="sidebar_filters" class="d-none d-lg-block">
                    <!-- Price -->
                    <div class="card border-0 shadow-xs mb-3">
                        <div class="card-body">
                            <div id="filter_price_list">
                                <div class="row gutters-xs">
                                    <div class="col-10">
                                        <label class="d-block small mb-1">Search</label>
                                        <input type="text" name="data" class="form-control form-control-sm" value="">
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-sm w-100 btn-light mt-4 px-2">
                                            <i class="fi fi-arrow-end m-0"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>

                <nav
                    class="nav-deep nav-deep-light mb-2 mb-lg-3 bg-white shadow-xs shadow-none-md shadow-none-xs p-lg-4 rounded">
                    <button
                        class="clearfix btn btn-toggle btn-sm w-100 py-3 text-align-left shadow-md border rounded mb-1 d-flex d-lg-none align-items-center"
                        data-bs-target="#nav_responsive"
                        data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
                        <span class="group-icon float-start px-2">
                            <i class="fi fi-bars-2">
                                <!-- icon -->
                            </i>
                            <i class="fi fi-close">
                                <!-- icon -->
                            </i>
                        </span>
                        <span class="mx-0 fw-medium float-start">Categories</span>
                    </button>

                    <!-- desktop only -->
                    <h5 class="h6 d-none d-lg-block">
                        Categories
                    </h5>

                    <!-- navbar : navigation -->
                    <ul id="nav_responsive" class="nav flex-column d-none d-lg-block"> 

                        <li class="nav-item">
                            <a class="nav-link px-0" href="/shop">
                                <i class="fi fi-arrow-end m-0 smaller"></i>
                                <span class="px-2 d-inline-block">
                                    All Categories
                                </span>
                            </a>
                        </li>
                        {% for cat in categories %}
                        <li class="nav-item">
                            <a class="nav-link px-0" href="/search-category/{{ cat.id }}">
                                <i class="fi fi-arrow-end m-0 smaller"></i>
                                <span class="px-2 d-inline-block">
                                    {{ cat.name }}
                                </span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </nav>
            </div>
            <!-- /sidebar -->

            <!-- products -->
            <div class="col-12 col-lg-9">


                <!-- additional filters -->
                <div class="d-flex justify-content-between mb-3 bg-white p-3 shadow-md rounded">

                    <!-- <div class="position-relative">
                        <a id="dropdownMenuFilter" href="#" class="text-dark" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span>Popular First</span>
                            <svg class="mx-1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <ul class="dropdown-menu shadow-lg rounded-xl" aria-labelledby="dropdownMenuFilter">
                            <li><a class="dropdown-item active" href="#">Popular First</a></li>
                            <li><a class="dropdown-item" href="#">Newest First</a></li>
                            <li><a class="dropdown-item" href="#">Price: High</a></li>
                            <li><a class="dropdown-item" href="#">Price: Low</a></li>
                        </ul>
                    </div> -->

                    <div class="d-inline-grid gap-auto-2">
                        <a rel="nofollow" href="#" class="text-gray-700 text-decoration-none">
                            <!-- grid -->
                            <svg height="24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                                </path>
                            </svg>
                        </a>
                        <a rel="nofollow" href="#" class="text-gray-400 text-decoration-none">
                            <!-- list -->
                            <svg height="24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </a>
                    </div>

                </div>
                <!-- /additional filters -->


                <!-- product list -->
                <div class="row g-2 g-xl-3">
                    <!-- item -->
                    {% for data in products %}
                    <div class="col-6 col-md-4">
                        <div
                            class="bg-white shadow-sm shadow-3d-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-3 h-100">
                            <!-- hover buttons : top -->
                            <div class="position-absolute top-0 end-0 text-align-end z-index-3 m-3 show-hover-item d-none d-sm-inline-block"
                                style="width:60px">
                                <!-- add to favourite : logged in -->
                                <a href="#" class="btn-toggle btn bg-white shadow-lg btn-sm rounded-circle mb-2"
                                    data-bs-toggle="tooltip" data-bs-original-title="add to favourite"
                                    data-bs-placement="left"
                                    data-toggle-ajax-url-on="demo.files/php/demo.ajax_request7cd1.html?product_id=1&amp;action=add_to_favourite"
                                    data-toast-success-message="Added to your favourite!"
                                    data-toast-success-position="bottom-center">
                                    <i class="fi fi-heart-slim"></i>
                                </a>

                                <a href="#" class="btn bg-white shadow-lg btn-sm rounded-circle mb-2" title=""
                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                    data-bs-original-title="add to compare">
                                    <i class="fi fi-graph"></i>
                                </a>

                                <a href="#" class="btn btn-danger shadow-lg btn-sm rounded-circle mb-2" title=""
                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                    data-bs-original-title="add to cart">
                                    <i class="fi fi-cart-1"></i>
                                </a>
                            </div>
                            <!-- /hover buttons : top -->
                            <a href="" class="d-block text-gray-800">
                                <!-- image -->
                                <figure class="text-center">
                                    <img class="img-fluid" src="../../static/{{ data.photo }}" alt="...">
                                </figure>
                                <span class="d-block text-center-xs fs-6">
                                    <!-- rating -->
                                    <span class="d-block smaller text-muted">
                                        <i class="rating-4 smaller text-warning"></i> (4.7)
                                    </span>
                                    <!-- title -->
                                    <span class="d-block fw-medium">
                                        {{ data.title }}
                                    </span>
                                    <!-- price -->
                                    <span class="d-block fw-medium">
                                        <del class="text-muted">$ {{ data.price }}</del>
                                        <span class="text-dark">$ {{ data.price }}</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /item -->

                </div>
                <!-- /product list -->
            </div>
            <!-- /products -->


        </div>

    </div>
    <!-- / -->


    </li>

    {% endblock content %}