{% extends 'app/website.html' %}
{% load static %}
{% block content %}

      <!-- PAGE TITLE -->
      <div class="section">
        <div class="px-2 max-w-800 mx-auto text-center">

          <h1 class="display-4 fw-bold">
            Signup
          </h1>

          <p class="lead m-0">
            Create your account in one easy step
          </p>

        </div>
      </div>
      <!-- /PAGE TITLE -->



      <!-- -->
      <div class="section pt-0">
        <div class="container">

          <div class="row g-4 g-xl-5 justify-content-between">

            <div class="col-12 col-sm-10 col-md-8 col-xl-6 order-1 order-xl-2 mx-auto mb-5">


              <!-- form -->
              <form class="bs-validate p-4 p-md-5 card rounded-xl" novalidate method="post" action="/customer/store" 
                  data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> Please, complete all required fields!" 
                  data-error-toast-delay="3000" 
                  data-error-toast-position="top-right">
                  {% csrf_token %}
                  
                <div class="form-floating mb-3">
                  <input required placeholder="Full name" id="account_full_name" name="account_full_name" type="text" class="form-control">
                  <label for="account_full_name">Full name</label>
                </div>

                <div class="form-floating mb-3">
                  <input required placeholder="Email address" id="account_email" name="account_email" type="email" class="form-control">
                  <label for="account_email">Email address</label>
                </div>

                <div class="input-group-over mb-3">
                  <div class="form-floating">
                    <input required placeholder="Password" id="account_password" name="account_password" type="password" class="form-control">
                    <label for="account_password">Password</label>
                  </div>

                  <!-- `SOW : Form Advanced` plugin used -->
                  <a href="account-simple-signin-password.html" class="btn smaller
                   btn-password-type-toggle" data-bs-target="#account_password">
                    <span class="group-icon">
                      <i class="fi fi-eye m-0"></i>
                      <i class="fi fi-close m-0"></i>
                    </span>
                  </a>
                </div>

                <!-- GDPR CONSENT -->
                <div class="mb-3 border p-3 rounded">

                  <p class="small mb-3 pb-3 border-bottom">
                    I consent that my personal data is stored according to <span class="fw-medium">2016/679/UE (UE GDPR)</span>. 
                  </p>

                  <div class="form-check">
                    <input required class="form-check-input" id="contact_gdpr" name="contact_gdpr" type="checkbox" value="1">
                    <label class="form-check-label" for="contact_gdpr">
                      I do accept Smarty <a class="text-decoration-none" href="shop-page-terms.html" target="_blank">terms & conditions</a>.
                    </label>
                  </div>

                </div>
                <!-- /GDPR CONSENT -->

                <div class="row">

                  <div class="col-12 col-md-6">
                    <button type="submit" class="btn btn-primary w-100 fw-medium">
                      Sign Up
                    </button>
                  </div>

                  <div class="col-12 col-md-6 text-align-end text-center-xs">
                    <!-- empty -->
                  </div>

                </div>

              </form>


              <!-- alternate -->
              <div class="px-4 px-md-5 pb-4 pb-md-5 pt-4 bg-white card rounded-xl mt-3">

                <div class="d-flex align-items-center justify-content-between w-100 max-w-250 mx-auto mb-3 small text-muted">
                  <hr class="w-100">
                  <span class="flex-none px-4">OR</span>
                  <hr class="w-100">
                </div> 

                <div class="row">

                  <div class="col-6">
                    <a href="#" class="btn btn-sm w-100 btn-facebook transition-hover-top mt-1" rel="noopener">
                      facebook
                    </a>
                  </div>

                  <div class="col-6">
                    <a href="#" class="btn btn-sm w-100 bg-googleplay transition-hover-top mt-1 text-white" rel="noopener">
                      google
                    </a>
                  </div>

                </div>

              </div> 

            </div>

          </div>

        </div>
      </div>
      <!-- / -->




      <!-- INFO BOX -->
      <div class="bg-gray-200">
        <div class="container py-3">

          <div class="row g-4">

            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">

              <img width="60" height="60" class="lazy" data-src="demo.files/svg/ecommerce/money_bag.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Money Back</h3>
                <p class="m-0">Love it! Use it! Reuse it!</p>
              </div>

            </div>

            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">

              <img width="60" height="60" class="lazy" data-src="demo.files/svg/ecommerce/free-delivery-truck.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Free Shipping</h3>
                <p class="m-0">Shipping is on us</p>
              </div>

            </div>

            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">

              <img width="60" height="60" class="lazy" data-src="demo.files/svg/ecommerce/24-hours-phone-service.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Free Support</h3>
                <p class="m-0">24/24 available</p>
              </div>

            </div>

            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">

              <!-- link example -->
              <a href="#" class="text-dark text-decoration-none d-flex">

                <img width="60" height="60" class="lazy" data-src="demo.files/svg/ecommerce/handshake.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
                <div class="ps-3">
                  <h3 class="fs-5 mb-1">Best Deal</h3>
                  <p class="m-0">Quality guaranteed</p>
                </div>

              </a>

            </div>

          </div>

        </div>
      </div>
      <!-- /INFO BOX -->
        {% endblock content %}