{% extends 'app/website.html' %}
{% load static %}
{% block content %}

      <!-- PAGE TITLE -->
      <div class="section">
        <div class="px-2 max-w-800 mx-auto text-center">

          <h1 class="display-4 fw-bold">
            Signup
          </h1>

          <p class="lead m-0">
            Create your account in one easy step
          </p>

        </div>
      </div>
      <!-- /PAGE TITLE -->



      <!-- -->
      <div class="section pt-0">
        <div class="container">

          <div class="row g-4 g-xl-5 justify-content-between">

            <div class="col-12 col-sm-10 col-md-8 col-xl-6 order-1 order-xl-2 mx-auto mb-5">


              <!-- form -->
              <form class="bs-validate p-4 p-md-5 card rounded-xl" novalidate method="post" action="/customer/store" 
                  data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> Please, complete all required fields!" 
                  data-error-toast-delay="3000" 
                  data-error-toast-position="top-right">
                  {% csrf_token %}
                  
                <div class="form-floating mb-3">
                  <input required placeholder="Full name" id="account_full_name" name="account_full_name" type="text" class="form-control">
                  <label for="account_full_name">Full name</label>
                </div>

                <div class="form-floating mb-3">
                  <input required placeholder="Email address" id="account_email" name="account_email" type="email" class="form-control">
                  <label for="account_email">Email address</label>
                </div>

                <div class="input-group-over mb-3">
                  <div class="form-floating">
                    <input required placeholder="Password" id="account_password" name="account_password" type="password" class="form-control">
                    <label for="account_password">Password</label>
                  </div>

                  <!-- `SOW : Form Advanced` plugin used -->
                  <a href="account-simple-signin-password.html" class="btn smaller
                   btn-password-type-toggle" data-bs-target="#account_password">
                    <span class="group-icon">
                      <i class="fi fi-eye m-0"></i>
                      <i class="fi fi-close m-0"></i>
                    </span>
                  </a>
                </div>

                <!-- GDPR CONSENT -->
                <div class="mb-3 border p-3 rounded">

                  <p class="small mb-3 pb-3 border-bottom">
                    I consent that my personal data is stored according to <span class="fw-medium">2016/679/UE (UE GDPR)</span>. 
                  </p>

                  <div class="form-check">
                    <input required class="form-check-input" id="contact_gdpr" name="contact_gdpr" type="checkbox" value="1">
                    <label class="form-check-label" for="contact_gdpr">
                      I do accept Smarty <a class="text-decoration-none" href="shop-page-terms.html" target="_blank">terms & conditions</a>.
                    </label>
                  </div>

                </div>
                <!-- /GDPR CONSENT -->

                <div class="row">

                  <div class="col-12 col-md-6">
                    <button type="submit" class="btn btn-primary w-100 fw-medium">
                      Sign Up
                    </button>
                  </div>

                  <div class="col-12 col-md-6 text-align-end text-center-xs">
                    <!-- empty -->
                  </div>

                </div>

              </form>

            </div>

          </div>

        </div>
      </div>
      <!-- / -->


      <div class="section py-0 border-bottom-xs">
        <div class="container py-3">
          <div class="row g-4">
            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
              <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/build_product.svg"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Money Back</h3>
                <p class="m-0">Love it! Use it! Reuse it!</p>
              </div>
            </div>
      
            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
              <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/cooperation.svg"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Free Shipping</h3>
                <p class="m-0">Shipping is on us</p>
              </div>
            </div>
      
            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
              <img width="60" height="60" class="lazy" data-src="../../static/website/svg/artworks/people_crossbrowser.svg"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
              <div class="ps-3">
                <h3 class="fs-5 mb-1">Free Support</h3>
                <p class="m-0">24/24 available</p>
              </div>
            </div>
      
            <div class="col-12 col-sm-6 col-lg-3 d-flex py-2 py-sm-3 py-lg-4">
              <a href="#" class="text-dark text-decoration-none d-flex">
                <img width="60" height="60" class="lazy" data-src="../../static/website/svg/premium/startup.svg"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
                <div class="ps-3">
                  <h3 class="fs-5 mb-1">Best Deal</h3>
                  <p class="m-0">Quality guaranteed</p>
                </div>
              </a>
            </div>
      
          </div>
        </div>
      </div>
      
        {% endblock content %}