{% extends 'app/website.html' %}
{% load static %}
{% block content %}

			<!-- PAGE TITLE -->
			<div class="section">
				<div class="px-2 max-w-800 mx-auto text-center">

					<h1 class="display-4 fw-bold">
						Track Your Order
					</h1>

					<p class="lead m-0">
						Check the status of your order
					</p>

				</div>
			</div>
			<!-- /PAGE TITLE -->

			<!-- FORM -->
			<div class="section pt-0">
				<div class="container">


					<div class="row">

						<div class="col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3">

							<form novalidate action="#" method="POST" class="bs-validate p-4 p-md-5 rounded shadow-xs">


								


								<div class="form-floating mb-3">
									<input required placeholder="Email" id="account_email" name="account_email" type="email" class="form-control">
									<label for="account_email">Email</label>
								</div>

								<div class="input-group-over">
									<div class="form-floating mb-3">
										<input required placeholder="Password" id="account_password" name="account_password" type="password" class="form-control">
										<label for="account_password">Order ID</label>
									</div>

									<a href="account-simple-signin-password.html" class="btn smaller fw-bold">
										Forget?
									</a>

								</div>



								<div class="row">

									<div class="col-12 col-md-12 mt-4">
										<button type="submit" class="btn btn-primary w-100 fw-medium">
											Track Order
										</button>
									</div>
								</div>

							</form>

						</div>

					</div>

				</div>
			</div>
			<!-- /CONNECT WITH -->
{% endblock content %}
