{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Seller - SignUp</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">
  <!-- up to 10% speed up for external res -->
  <link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{% static '/assets/css/core.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/vendor_bundle.min.css' %}">
  <!-- favicon -->
  <link rel="shortcut icon" href="favicon.ico">
</head>

<div class="row g-0 bg-white min-vh-100 align-items-center">
  <div class="col-lg-6 text-center text-lg-start overflow-hidden z-index-2">
    <div class="px-3 py-6">

      <!-- back button -->
      <a href="/" class="link-muted position-absolute top-0 start-0 p-2 d-inline-grid gap-auto-2">
        <svg class="rtl-flip" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path fill-rule="evenodd"
            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
          </path>
        </svg>
        <span>back to landing</span>
      </a>

      <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-9 col-xl-12 mx-auto max-w-450">

          <h1 class="fw-bold mb-5">Sign Up</h1>

          <form novalidate class="bs-validate" method="POST" action="/register-seller" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row g-3 mb-3">
              <div class="col-xl-6">
                <div class="form-floating">
                  <input required placeholder="First Name" id="firstname" name="firstname" type="text"
                    class="form-control">
                  <label for="firstname">First Name</label>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-floating">
                  <input required placeholder="Last Name" id="lastname" name="lastname" type="text"
                    class="form-control">
                  <label for="lastname">Last Name</label>
                </div>
              </div>

            </div>

            <div class="form-floating mb-3">
              <input required placeholder="Email" id="email" name="email" type="email"
                class="form-control">
              <label for="email">Email</label>
            </div>

            <div class="input-group-over">
              <div class="form-floating mb-3">
                <input required placeholder="Password" id="password" name="password" type="password" class="form-control">
                <label for="password">Password</label>
              </div>

              <!-- `SOW : Form Advanced` plugin used -->
              <a href="#" class="btn smaller btn-password-type-toggle" data-target="#account_password">
                <span class="group-icon">
                  <i class="fi fi-eye m-0"></i>
                  <i class="fi fi-close m-0"></i>
                </span>
              </a>

            </div>

            <div class="input-group-over">
              <div class="form-floating mb-3">
                <input required placeholder="Password" id="account_password" type="password" class="form-control">
                <label for="account_password">Confirm Password</label>
              </div>
            </div>

            <!-- submot button -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary">
                <span>Create </span>
                <svg class="rtl-flip" width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                  </path>
                </svg>
              </button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
  <div class="d-none d-lg-block min-vh-100 col-lg-6 bg-cover py-8 overlay-dark overlay-opacity-25"
    style="background-image:url(../../../static/assets/images/team/product-school-XZkk5xT8Xrk-unsplash.jpg)">
    <svg class="d-none d-lg-block position-absolute h-100 top-0 text-white ms-n5" style="width:6rem" fill="currentColor"
      viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="50,0 100,0 50,100 0,100"></polygon>
    </svg>
  </div>
</div>


<!-- Core javascripts -->
<script src="{% static '/assets/js/core.min.js' %}"></script>
<script src="{% static '/assets/js/vendor_bundle.min.js' %}"></script>
<!-- Your custom javascripts -->
</body>

</html>