{% extends 'app/admin_layout.html' %}
{% load static %}
{% block content %}

<div class="row top-header">
    <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center bg-blue">
            <div class="text m-b-10">Total Orders</div>
            <h3 class="m-b-0">{{ orders }}</h3>
            <small class="displayblock">This is the number of Orders</small>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center bg-blue">
            <div class="icon m-b-10">
                <div class="chart chart-bar"></div>
            </div>
            <div class="text m-b-10">Total Customers </div>
            <h3 class="m-b-0">{{ customers }}</h3>
            <small class="displayblock">This is the number of Customers</small>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center bg-red">
            <div class="icon m-b-10">
                <div class="chart chart-bar"></div>
            </div>
            <div class="text m-b-10">Total Products</div>
            <h3 class="m-b-0">{{ products }}</h3>
            <small class="displayblock">This is the number of Products</small>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center bg-purple">
            <div class="icon m-b-10">
                <div class="chart chart-bar"></div>
            </div>
            <div class="text m-b-10">Subscribers</div>
            <h3 class="m-b-0">{{ subscribers }}</h3>
            <small class="displayblock">Number Of Subscribers</small>
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <select name="type" class="form-control" id="" onchange="showChart(this.value);">
                <option value="column">Column</option>
                <option value="bar">Bar</option>
                <option value="pie">Pie</option>
                <option value="pyramid">Pyramid</option>
            </select>
            <div id="orders" style="height: 600px;" >
                <script>
                    function showChart(charType) {
                        var chart = new CanvasJS.Chart("orders", {
                            animationEnabled: true,
                            exportEnabled: true,
                            theme: "light2", // "light1", "light2", "dark1", "dark2"
                            axisY: {
                                includeZero: true
                            },
                            title: {
                                text: "Orders"
                            },
                            data: [{
                                type: charType, //change type to bar, line, area, pie, etc
                                //indexLabel: "{y}", //Shows y value on all Data Points
                                indexLabelFontColor: "#5A5757",
                                indexLabelFontSize: 16,
                                indexLabelPlacement: "outside",
                                dataPoints: [
                                    { label: 'Jan', y: {{ jan_order }} },
                                    { label: 'Feb', y: {{ feb_order }}  },
                                    { label: 'Mar', y: {{ mar_order }}  },
                                    { label: 'Apr', y: {{ apr_order }}  },
                                    { label: 'May', y: {{ may_order }}  },
                                    { label: 'Jun', y: {{ jun_order }}  },
                                    { label: 'Jul', y: {{ jul_order }}  },
                                    { label: 'Aug', y: {{ aug_order }}  },
                                    { label: 'Sep', y: {{ sep_order }}  },
                                    { label: 'Oct', y: {{ oct_order }}  },
                                    { label: 'Nov', y: {{ nov_order }}  },
                                    { label: 'Dec', y: {{ dec_order }}  },
                                ]
                            }]
                        });
                        chart.render();
                    }
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <select name="type" class="form-control" id="" onchange="showCustomerChart(this.value);">
                <option value="column">Column</option>
                <option  value="bar">Bar</option>
                <option selected value="pie">Pie</option>
                <option value="pyramid">Pyramid</option>
            </select>
            <div id="customers" style="height: 600px;">
                <script>
                    function showCustomerChart(charType) {
                        var chart = new CanvasJS.Chart("customers", {
                            animationEnabled: true,
                            exportEnabled: true,
                            theme: "light2", // "light1", "light2", "dark1", "dark2"
                            title: {
                                text: "Customers "
                            },
                            axisY: {
                                includeZero: true
                            },
                            data: [{
                                type: charType, //change type to bar, line, area, pie, etc
                                //indexLabel: "{y}", //Shows y value on all Data Points
                                indexLabelFontColor: "#5A5757",
                                indexLabelFontSize: 16,
                                indexLabelPlacement: "outside",
                                dataPoints: [
                                    { label: 'Jan', y: {{ jan_cust }} },
                                    { label: 'Feb', y: {{ feb_cust }}  },
                                    { label: 'Mar', y: {{ mar_cust }}  },
                                    { label: 'Apr', y: {{ apr_cust }}  },
                                    { label: 'May', y: {{ may_cust }}  },
                                    { label: 'Jun', y: {{ jun_cust }}  },
                                    { label: 'Jul', y: {{ jul_cust }}  },
                                    { label: 'Aug', y: {{ aug_cust }}  },
                                    { label: 'Sep', y: {{ sep_cust }}  },
                                    { label: 'Oct', y: {{ oct_cust }}  },
                                    { label: 'Nov', y: {{ nov_cust }}  },
                                    { label: 'Dec', y: {{ dec_cust }}  },
                                ]
                            }]
                        });
                        chart.render();
                    }
                
                    window.onload = function () {
                        showCustomerChart('pie');
                        showChart('column');
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/canvasjs.min.js' %}"></script>



{% endblock content %}