<nav class="sticky-kit nav-deep nav-deep-light">
    <div class="card">
        <div class="card-body p-0 p-md-4">
            <!-- mobile only -->
            <button
                class="clearfix btn btn-toggle btn-sm w-100 text-align-left shadow-md border rounded d-block d-lg-none"
                data-bs-target="#nav_responsive"
                data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
                <span class="group-icon px-2 py-2 float-start">
                    <i class="fi fi-bars-2"></i>
                    <i class="fi fi-close"></i>
                </span>
                <span class="h5 py-2 m-0 float-start">
                    Account Menu
                </span>
            </button>


            <!-- navbar : navigation -->
            <ul id="nav_responsive" class="nav flex-column d-none d-lg-block mt-1 mt-lg-0">
                <li>
                    <!-- account name -->
                    <div class="d-flex align-items-center mb-2 pb-4 border-bottom">
                        <div class="flex-none p-3 border rounded-circle">
                            <!-- <img src="../../static/{{ session.request.customer_photo }}" alt=""> -->
                            <svg class="text-gray-300" width="34px" height="34px"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.8 460.8"
                                fill="currentColor">
                                <path
                                    d="M230.432,0c-65.829,0-119.641,53.812-119.641,119.641s53.812,119.641,119.641,119.641s119.641-53.812,119.641-119.641S296.261,0,230.432,0z">
                                </path>
                                <path
                                    d="M435.755,334.89c-3.135-7.837-7.314-15.151-12.016-21.943c-24.033-35.527-61.126-59.037-102.922-64.784c-5.224-0.522-10.971,0.522-15.151,3.657c-21.943,16.196-48.065,24.555-75.233,24.555s-53.29-8.359-75.233-24.555c-4.18-3.135-9.927-4.702-15.151-3.657c-41.796,5.747-79.412,29.257-102.922,64.784c-4.702,6.792-8.882,14.629-12.016,21.943c-1.567,3.135-1.045,6.792,0.522,9.927c4.18,7.314,9.404,14.629,14.106,20.898c7.314,9.927,15.151,18.808,24.033,27.167c7.314,7.314,15.673,14.106,24.033,20.898c41.273,30.825,90.906,47.02,142.106,47.02s100.833-16.196,142.106-47.02c8.359-6.269,16.718-13.584,24.033-20.898c8.359-8.359,16.718-17.241,24.033-27.167c5.224-6.792,9.927-13.584,14.106-20.898C436.8,341.682,437.322,338.024,435.755,334.89z">
                                </path>
                            </svg>
                        </div>
                        <div class="w-100 px-3">
                            <span>Hello,</span>
                            <span class="d-block fw-bold">
                                {{ request.session.customer_name }}
                            </span>
                        </div>
                    </div>
                </li>
                <li class="nav-item {% if request.path == '/account' %} active {% endif %}">
                    <a class="nav-link px-0 d-flex align-items-center" href="/account">
                        <svg class="text-gray-600 float-start" width="18px" height="18px"
                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
                            </path>
                        </svg>
                        <span>My Account</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/myorders' %} active {% endif %}">
                    <a class="nav-link px-0 d-flex align-items-center" href="/myorders">
                        <svg class="text-gray-600 float-start" width="18px" height="18px"
                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z">
                            </path>
                        </svg>
                        <span>My orders</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/wishlist' %} active {% endif %}">
                    <a class="nav-link px-0 d-flex align-items-center" href="/wishlist">
                        <svg class="text-gray-600 float-start" width="18px" height="18px"
                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                            </path>
                        </svg>
                        <span>Favourites</span>
                    </a>
                </li>
                
                <li class="nav-item {% if request.path == '/account-setting' %} active {% endif %}">
                    <a class="nav-link px-0 d-flex align-items-center" href="/account-setting">
                        <svg class="text-gray-600 float-start" width="18px" height="18px"
                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z">
                            </path>
                        </svg>
                        <span>Payment Card</span>
                    </a>
                </li>

                <li class="nav-item border-top my-3"></li>
                <li class="nav-item">
                    <a class="nav-link px-0" href="/customer/logout">
                        <i class="fi fi-power float-start"></i>
                        Log Out
                    </a>
                </li>

            </ul>

        </div>
    </div>

</nav>
