{% load mathfilters %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>HandCraft - Website</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">
  <link rel="stylesheet" href="{% static '/assets/css/core.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/vendor_bundle.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/custom.css' %}">
  <meta name="theme-color" content="#377dff">
</head>

<body class="header-sticky">
  <div id="wrapper">
    <div>
      {%  include 'app/message.html' %}
    </div>
    <!-- Header -->
    <header id="header" class="shadow-xs">
      <!-- TOP BAR -->
      <div id="top_bar" class="bg-light ">
        <div class="container js-ignore">
          <div class="text-nowrap">
            <div class="d-flex justify-content-between">
              <div class="d-inline-block float-start">
                <ul class="list-inline m-0">
                  <!-- LANGUAGE -->
                  <li class="dropdown list-inline-item m-0">
                    <a id="topDDLanguage" href="#" class="py-2 d-inline-block" data-bs-toggle="dropdown"
                      aria-expanded="false" aria-haspopup="true">
                      <i class="float-start fi fi-envelope"></i>
                      <span class="text-muted px-2" id="email"></span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="d-inline-block float-end">
                <ul class="list-inline m-0">
                  <li class="dropdown list-inline-item">
                    <a href="tel:+93" class="p-2 d-inline-block fw-medium">
                      <i class="float-start fi fi-phone"></i> +(93) <span id="phone"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /TOP BAR -->
      <!-- Navbar -->
      <div class="container position-relative">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">
          <div class="align-items-start">
            <!-- mobile menu button : show -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainNav"
              aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
              <svg width="25" viewBox="0 0 20 20">
                <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
                <path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
                <path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
                </path>
                <path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
                </path>
              </svg>
            </button>
            <a class="navbar-brand m-0" href="shop-index-1.html">
              <img src="../../static/assets/images/logo/logo_dark.svg" width="110" height="38" alt="...">
            </a>
          </div>

          <form action="/search" method="GET"
            class="js-ajax-search sow-search sow-search-mobile-float d-flex-1-1-auto m-0 mx-lg-5">
            <!-- {% csrf_token %} -->
            <div class="sow-search-input w-100">
              <!-- rounded: form-control-pill -->
              <div class="input-group-over d-flex align-items-center w-100 h-100 rounded form-control-pill">
                <input id="data" name="data" placeholder="what are you looking today?" aria-label="what are you looking today?" 
                  type="text" class="form-control-sow-search form-control" autocomplete="off">
                <span class="sow-search-buttons">
                  <!-- search button -->
                  <button type="submit" class="btn shadow-none m-0 px-3 py-2 bg-transparent text-muted">
                    <i class="fi fi-search fs-5 m-0"></i>
                  </button>
                  <!-- close : mobile only (d-inline-block d-lg-none) -->
                  <a href="javascript:;"
                    class="btn-sow-search-toggler btn btn-light shadow-none m-0 p-2 d-inline-block d-lg-none">
                    <i class="fi fi-close fs-5 m-0"></i>
                  </a>
                </span>
              </div>
            </div>
            <!-- search suggestion container -->
            <div class="sow-search-container w-100 p-0 hide shadow-md" >
              <div class="sow-search-container-wrapper">
                <!-- main search container -->
                <div class="sow-search-loader p-3 text-center hide">
                  <i class="fi fi-circle-spin fi-spin text-muted fs-1"></i>
                </div>
                <div class="sow-search-content rounded w-100 scrollable-vertical"></div>
              </div>
            </div>
            <!-- <div class="sow-search-backdrop backdrop-dark hide">
            </div> -->
          </form>
          <!-- /SEARCH -->
          <ul class="list-inline list-unstyled mb-0 d-flex align-items-end">
            <!-- mobile : search toggler -->
            <li class="list-inline-item mx-1 dropdown d-inline-block d-lg-none">
              <a href="#" aria-label="Search" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
                class="btn-sow-search-toggler d-inline-block text-center text-dark">
                <i class="fi fi-search fs-5"></i>
                <span class="d-block small">search</span>
              </a>
            </li>
            <!-- my account -->
            <li class="list-inline-item mx-1 dropdown">
              <a href="/account" aria-label="My Account" class="d-inline-block text-center text-dark">
                <i class="fi fi-users fs-4"></i>
                <span class="d-block small">Account</span>
              </a>
            </li>
            <!-- favourites button : visible : desktop only -->
            <li class="list-inline-item mx-1 dropdown d-sm-block">
              <a href="/wishlist" aria-label="My Favourites" class="d-inline-block text-center text-dark">
                <span class="badge bg-warning text-dark position-absolute end-0 mt-n1 p-1" id="wishlist"></span>
                <i class="fi fi-heart-empty fs-4"></i>
                <span class="d-block small">Favourites</span>
              </a>
            </li>
            <!-- cart -->
            <li class="list-inline-item mx-1">
              <a href="/cart" aria-label="My Cart" 
                class="d-inline-block text-center text-dark">
                <span class="badge bg-warning text-dark position-absolute end-0 mt-n1 p-1" id="basket"></span>
                <i class="fi fi-cart-1 fs-4"></i>
                <span class="d-block small">Cart</span>
              </a>
              <!-- end cart -->
            </li>
          </ul>
        </nav>
      </div>

      <!-- /Navbar -->
      <div class="clearfix">
        <hr class="m-0 bg-gray-500 opacity-25">
        <div class="container">
          <nav
            class="navbar h-auto navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">
            <div class="collapse navbar-collapse navbar-animate-fadein" id="navbarMainNav">
              <!-- navbar : mobile menu -->
              <div class="navbar-xs d-none">
                <!-- .sticky-top -->
                <!-- mobile menu button : close -->
                <button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <svg width="20" viewBox="0 0 20 20">
                    <path
                      d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
                    </path>
                  </svg>
                </button>
                <a class="navbar-brand" href="">
                  <img src="../../static/assets/images/logo/logo_dark.svg" width="110" height="38" alt="...">
                </a>
              </div>
              <!-- /navbar : mobile menu -->
              <ul class="navbar-nav navbar-sm custom-navbar">
                <!-- Menu -->
                {% if request.session.customer_name  %}
                <li class="nav-item">
                  <a href="/account" style="font-weight: bolder; color: black;" class="nav-link"> HI, {{ request.session.customer_name }}  </a>
                </li>
                {% endif %}

                <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                  <a href="/" class="nav-link">Home</a>
                </li>

                <li class="nav-item {% if request.path == '/shop/' %} active {% endif %}">
                  <a href="/shop" class="nav-link">Shop</a>
                </li>

                <li class="nav-item {% if request.path == '/blog/' %} active {% endif %}">
                  <a href="/blog" class="nav-link">Blog</a>
                </li>
                
                <!-- <li class="nav-item {% if request.path == '/track-order/' %} active {% endif %}">
                  <a href="/track-order" class="nav-link">Track Order</a>
                </li> -->

                <li class="nav-item {% if request.path == '/contact-us/' %} active {% endif %}">
                  <a href="/contact-us" class="nav-link">Contact Us</a>
                </li>

                <li class="nav-item {% if request.path == '/about-us/' %} active {% endif %}">
                  <a href="/about-us" class="nav-link">About Us</a>
                </li>

                <li class="nav-item {% if request.path == '/seller-login/' %} active {% endif %}">
                  <a href="/seller-login" class="nav-link">Seller</a>
                </li>
              </ul>
              <!-- /navbar : navigation -->
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- /Header -->

    {% block content %}{% endblock content %}


    <!-- SUBSCRIBE -->
    <div class="bg-light py-5 py-lg-4">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-10 mx-auto col-lg-8 text-center-md text-center-xs">
            <h3 class="m-0">Our best deals in <strong>your inbox!</strong></h3>
            <p class="m-0">Never miss a good deal, get 'em all by subscribing to our newsletter!</p>
          </div>
          <div class="col-10 mx-auto col-lg-4">
            <form  method="POST" action="/subscribe"
              class="bs-validate py-3 mt-1 input-group-over input-group-pill">
              {% csrf_token %}
              <input required="Please Fill" class="form-control form-control-lg fw-light text-center-md text-center-xs"
                name="subscriber_email" type="email"  placeholder="email address..."
                aria-label="email address...">
              <button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none">
                <i class="fi fi-send fs-4"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- BRANDS -->
    <!-- INFO BOX -->
    <!-- Footer -->
    <!-- Footer -->
    <footer id="footer" class="bg-gray-900 text-white">

      <!-- footer cta -->
      <div class="container tet-white py-5 d-lg-flex flex-row align-items-lg-center">

        <div class="row g-4 align-items-center">
          <h3 class="col-lg-8 h2 mb-0">
            Join Us and Pick Vintage Design of HandCrafts.
          </h3>
        </div>
      </div>
      <!-- /footer cta -->

      <!-- line divider -->
      <hr class="bg-gray-500 my-0 container">

      <div class="container py-5">

        <div class="row g-4">

          <div class="col-12 col-lg-4 mb-4">

            <!-- logo -->
            <img width="110" height="38" src="../../static/assets/images/logo/logo_light.svg" alt="...">

            <div class="my-4">
              <!-- copyright -->
              <p class="small mb-0">&copy; 2022 HandCraft Inc.</p>
              <p class="small mb-0">All rights reserved.</p>
            </div>

            <!-- social icons -->
            <a href="" id="facebook" target="_blank"
              class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
              aria-label="facebook page">
              <i class="fi fi-social-facebook"></i>
            </a>

            <a href="" id="instagram" target="_blank"
              class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
              aria-label="twitter page">
              <i class="fi fi-social-instagram"></i>
            </a>

            <a href="" id="pinterest" target="_blank"
              class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
              aria-label="linkedin page">
              <i class="fi fi-social-pinterest"></i>
            </a>

            <a href="" id="youtube" target="_blank"
              class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
              aria-label="youtube page">
              <i class="fi fi-social-youtube"></i>
            </a>

          </div>

          <div class="col-12 col-lg-4 mb-4">

            <h3 class="small mb-4">GET IN TOUCH</h3>

            <p class="small col-md-10" id="desc">
              
            </p>

            <div class="small d-flex align-items-start my-3">
              <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
              </svg>
              <ul class="list-unstyled p-0 m-0 w-100">
                <li id="address"></li>
              </ul>
            </div>

            <div class="small d-flex align-items-start my-3">
              <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z">
                </path>
              </svg>
              <ul class="list-unstyled p-0 m-0 w-100">
                <li>Phone: <a href="" class="text-white text-dashed">093 - <span id="footer_phone"></span></a></li>
                <li>Email: <a href="" class="text-white text-dashed"> <span id="footer_email"></span></a></li>
              </ul>
            </div>

          </div>


          <div class="col-12 col-lg-4 mb-4">

            <h3 class="small mb-4">LEARN MORE</h3>

            <ul class="list-unstyled">
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/contact-us">Contact</a>
              </li>
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/about-us">About Us</a>
              </li>
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="">Terms & Conditions</a>
              </li>
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/blog">Blogs</a>
              </li>
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/shop">Shop</a>
              </li>
              <!-- <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/track-order">Track Order</a>
              </li> -->
              <li class="list-item mb-2">
                <i class="fi fi-arrow-end me-2 smaller"></i>
                <a class="text-gray-400" href="/my-account">My Account</a>
              </li>
            </ul>

          </div>

        </div>

      </div>

    </footer>
    <!-- /Footer -->
    <!-- /Footer -->
  </div>
  <script src="{% static '/assets/js/core.min.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
      $(function(){
        $.get("/info", function(data, status){
            let basketCount = data.basketCount;
            let wishlist = data.wishlist;
            let customer = data.customer;
            let title =  data.title; 
            let desc = data.desc;
            let email = data.email;
            let phone = data.phone;
            let address = data.address;
            let facebook = data.facebook;
            let instagram = data.instagram;
            let youtube = data.youtube;
            let pinterest = data.pinterest;

            $("#wishlist").text(wishlist);
            $("#basket").text(basketCount);
            $("#email").text(email);
            $("#footer_email").text(email);
            $("#footer_phone").text(phone);
            $("#phone").text(phone);
            $("#address").text(address);
            $("#desc").text(desc);

            $("#facebook").attr('href', facebook)
            $("#instagram").attr('href', instagram)
            $("#youtube").attr('href', youtube)
            $("#pinterest").attr('href', pinterest)

        });

      });
  </script>
</body>
</html>