{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>HandCraft - Website</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">
  <link rel="stylesheet" href="{% static '/assets/css/core.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/vendor_bundle.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/custom.css' %}">
  <meta name="theme-color" content="#377dff">
</head>

<body class="header-sticky">
  <div id="wrapper">
    <!-- Header -->
    <header id="header" class="shadow-xs">
      <!-- TOP BAR -->
      <div id="top_bar" class="bg-light ">
        <div class="container js-ignore">
          <div class="text-nowrap">
            <!-- change with .scrollable-horizontal to horizontally scroll, if -only- no dropdown is present -->
            <div class="d-flex justify-content-between">
              <div class="d-inline-block float-start">
                <ul class="list-inline m-0">
                  <!-- LANGUAGE -->
                  <li class="dropdown list-inline-item m-0">
                    <a id="topDDLanguage" href="#" class="py-2 d-inline-block" data-bs-toggle="dropdown"
                      aria-expanded="false" aria-haspopup="true">
                      <i class="flag flag-us"></i>
                      <span class="text-muted px-2">English</span>
                    </a>
                  </li>
                  <!-- /LANGUAGE -->
                  <!-- CURRENCY -->
                  <li class="dropdown list-inline-item m-0">
                    <span class="text-muted">/</span><!-- optional separator -->
                    <a id="topDDCurrency" href="#" class="py-2 d-inline-block" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <span class="text-muted px-2">USD</span>
                    </a>
                  </li>
                  <!-- /CURRENCY -->
                </ul>
              </div>

              <div class="d-inline-block float-end">
                <ul class="list-inline m-0">
                  <li class="dropdown list-inline-item">
                    <a href="tel:+01-555-5555" class="p-2 d-inline-block fw-medium">
                      <i class="float-start fi fi-phone"></i> (+93) 708-275-116
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /TOP BAR -->

      <!-- Navbar -->
      <div class="container position-relative">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">
          <div class="align-items-start">
            <!-- mobile menu button : show -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainNav"
              aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
              <svg width="25" viewBox="0 0 20 20">
                <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
                <path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
                <path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
                </path>
                <path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
                </path>
              </svg>
            </button>
            <a class="navbar-brand m-0" href="shop-index-1.html">
              <img src="../../static/assets/images/logo/logo_dark.svg" width="110" height="38" alt="...">
            </a>
          </div>

          <form action="#search-page" method="GET"
            class="js-ajax-search sow-search sow-search-mobile-float d-flex-1-1-auto m-0 mx-lg-5">
            <div class="sow-search-input w-100">
              <!-- rounded: form-control-pill -->
              <div class="input-group-over d-flex align-items-center w-100 h-100 rounded form-control-pill">
                <input placeholder="what are you looking today?" aria-label="what are you looking today?" name="s"
                  type="text" class="form-control-sow-search form-control" value="" autocomplete="off">
                <span class="sow-search-buttons">
                  <!-- search button -->
                  <button aria-label="Global Search" type="submit"
                    class="btn shadow-none m-0 px-3 py-2 bg-transparent text-muted">
                    <i class="fi fi-search fs-5 m-0"></i>
                  </button>
                  <!-- close : mobile only (d-inline-block d-lg-none) -->
                  <a href="javascript:;"
                    class="btn-sow-search-toggler btn btn-light shadow-none m-0 p-2 d-inline-block d-lg-none">
                    <i class="fi fi-close fs-5 m-0"></i>
                  </a>
                </span>
              </div>
            </div>
            <!-- search suggestion container -->
            <div class="sow-search-container w-100 p-0 hide shadow-md" id="sow-search-container">
              <div class="sow-search-container-wrapper">
                <!-- main search container -->
                <div class="sow-search-loader p-3 text-center hide">
                  <i class="fi fi-circle-spin fi-spin text-muted fs-1"></i>
                </div>
                <div class="sow-search-content rounded w-100 scrollable-vertical"></div>
              </div>
            </div>
            <div class="sow-search-backdrop backdrop-dark hide">
            </div>
          </form>
          <!-- /SEARCH -->
          <ul class="list-inline list-unstyled mb-0 d-flex align-items-end">
            <!-- mobile : search toggler -->
            <li class="list-inline-item mx-1 dropdown d-inline-block d-lg-none">
              <a href="#" aria-label="Search" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
                class="btn-sow-search-toggler d-inline-block text-center text-dark">
                <i class="fi fi-search fs-5"></i>
                <span class="d-block small">search</span>
              </a>
            </li>
            <!-- my account -->
            <li class="list-inline-item mx-1 dropdown">
              <a href="#" aria-label="My Account" id="dropdownAccountOptions" data-bs-toggle="dropdown"
                aria-expanded="false" aria-haspopup="true" class="d-inline-block text-center text-dark">
                <i class="fi fi-users fs-4"></i>
                <span class="d-block small">Account</span>
              </a>
              <!-- dropdown -->
              <div aria-labelledby="dropdownAccountOptions"
                class="list-unstyled dropdown-menu dropdown-menu-clean dropdown-click-ignore end-0 py-2 rounded-xl"
                style="min-width:215px;">

                <div class="dropdown-header px-4 mb-1 text-wrap fw-medium">John Doe</div>
                <div class="dropdown-divider mb-3"></div>
                <a class="dropdown-item active" href="account-index.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
                    </path>
                  </svg>
                  <span>My account</span>
                </a>
                <a class="dropdown-item" href="account-orders.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z">
                    </path>
                  </svg>
                  <span>My orders</span>
                </a>
                <a class="dropdown-item" href="account-favourites.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
                  </svg>
                  <span>Favourites</span>
                </a>
                <a class="dropdown-item" href="account-reward.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z">
                    </path>
                  </svg>
                  <span>Reward points</span>
                </a>
                <a class="dropdown-item" href="account-coupons.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z">
                    </path>
                  </svg>
                  <span>Coupons</span>
                </a>
                <a class="dropdown-item" href="account-reviews.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path
                      d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z">
                    </path>
                    <path
                      d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z">
                    </path>
                  </svg>
                  <span>My reviews</span>
                </a>
                <a class="dropdown-item" href="account-refunds.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z">
                    </path>
                    <path
                      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                    </path>
                  </svg>
                  <span>My refunds</span>
                </a>
                <a class="dropdown-item" href="account-addresses.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                  </svg>
                  <span>My addresses</span>
                </a>
                <a class="dropdown-item" href="account-settings.html">
                  <svg class="text-gray-600 float-start" width="18px" height="18px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z">
                    </path>
                  </svg>
                  <span>Account settings</span>
                </a>
                <div class="dropdown-divider mt-3"></div>
                <a href="#" title="Log Out" class="dropdown-item mt-1">
                  <i class="fi fi-power float-start"></i>
                  Log Out
                </a>
              </div>
            </li>


            <!-- favourites button : visible : desktop only -->
            <li class="list-inline-item mx-1 dropdown d-none d-sm-block">
              <a href="account-favourites.html" aria-label="My Favourites" class="d-inline-block text-center text-dark">
                <span class="badge bg-light text-dark position-absolute end-0 mt-n1 p-1">2</span>
                <i class="fi fi-heart-empty fs-4"></i>
                <span class="d-block small">Favourites</span>
              </a>
            </li>
            <!-- cart -->
            <li class="list-inline-item mx-1 dropdown">
              <a href="#" aria-label="My Cart" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
                class="d-inline-block text-center text-dark">
                <span class="badge bg-warning text-dark position-absolute end-0 mt-n1 p-1">2</span>
                <i class="fi fi-cart-1 fs-4"></i>
                <span class="d-block small">Cart</span>
              </a>
              <!-- dropdown -->
              <div aria-labelledby="dropdownAccount" id="dropdownAccount"
                class="dropdown-menu dropdown-menu-clean dropdown-menu-invert dropdown-click-ignore mt-2 p-0 rounded-xl"
                style="width:300px">
                <div class="dropdown-header p-3 fw-medium">Cart Products</div>
                <!-- item list -->
                <div class="max-vh-50 scrollable-vertical">
                  <!-- item -->
                  <div class="p-3 border-top border-light">
                    <!-- image -->
                    <div class="ratio ratio-1x1 float-start mt-1 bg-cover"
                      style="width:40px; background-image:url(demo.files/images/unsplash/products/thumb_330/barrett-ward-fYYUgvHYgpU-unsplash-min.jpg)">
                    </div>
                    <a href="#" class="small d-block link-normal">
                      <span class="d-block text-truncate">
                        1 &times; Product title comes here
                      </span>
                    </a>
                    <span class="d-block small mt-1">$196.00</span>
                  </div>
                  <div class="p-3 border-top border-light">
                    <div class="ratio ratio-1x1 float-start mt-1 bg-cover"
                      style="width:40px; background-image:url(demo.files/images/unsplash/products/thumb_330/hardik-sharma-CrPAvN29Nhs-unsplash-min.jpg)">
                    </div>
                    <a href="#" class="small d-block link-normal">
                      <span class="d-block text-truncate">
                        1 &times; Product title comes here
                      </span>
                    </a>
                    <span class="d-block small mt-1">$56.99</span>
                  </div>
                </div>
                <!-- subtotal -->
                <div class="fs-6 text-align-start border-top border-light px-3 py-2">
                  Subtotal: <span class="float-end">$196.00</span>
                </div>


                <!-- go to cart button -->
                <div class="border-top border-light p-3">

                  <a href="shop-page-cart-1.html" class="btn btn-primary w-100">
                    <span>Go to Cart</span>
                    <i class="fi fi-arrow-end smaller"></i>
                  </a>

                </div>


              </div>
            </li>
          </ul>
        </nav>
      </div>

      <!-- /Navbar -->
      <div class="clearfix">
        <hr class="m-0 bg-gray-500 opacity-25">
        <div class="container">
          <nav
            class="navbar h-auto navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">
            <div class="collapse navbar-collapse navbar-animate-fadein" id="navbarMainNav">
              <!-- navbar : mobile menu -->
              <div class="navbar-xs d-none">
                <!-- .sticky-top -->
                <!-- mobile menu button : close -->
                <button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <svg width="20" viewBox="0 0 20 20">
                    <path
                      d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
                    </path>
                  </svg>
                </button>
                <a class="navbar-brand" href="">
                  <img src="../../static/assets/images/logo/logo_dark.svg" width="110" height="38" alt="...">
                </a>
              </div>
              <!-- /navbar : mobile menu -->
              <ul class="navbar-nav navbar-sm custom-navbar">
                <!-- Menu -->
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                  <a href="/shop" class="nav-link">Shop</a>
                </li>

                <li class="nav-item">
                  <a href="/blog" class="nav-link">Blog</a>
                </li>

                <li class="nav-item">
                  <a href="/track-order" class="nav-link">Track Order</a>
                </li>

                <li class="nav-item">
                  <a href="/contact-us" class="nav-link">Contact Us</a>
                </li>

                <li class="nav-item">
                  <a href="" class="nav-link">About Us</a>
                </li>
              </ul>
              <!-- /navbar : navigation -->
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- /Header -->

    {% block content %}{% endblock content %}


    <!-- SUBSCRIBE -->
    <div class="bg-light py-5 py-lg-4">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-10 mx-auto col-lg-8 text-center-md text-center-xs">
            <h3 class="m-0">Our best deals in <strong>your inbox!</strong></h3>
            <p class="m-0">Never miss a good deal, get 'em all by subscribing to our newsletter!</p>
          </div>
          <div class="col-10 mx-auto col-lg-4">
            <form novalidate="" method="post" action="#subscribe_url"
              class="bs-validate py-3 mt-1 input-group-over input-group-pill">
              <input required="" class="form-control form-control-lg fw-light text-center-md text-center-xs"
                name="subscriber_email" type="email" value="" placeholder="email address..."
                aria-label="email address...">
              <button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none">
                <i class="fi fi-send fs-4"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- BRANDS -->
    <div class="section">
      <div class="container">
        <div class="mb-7 text-center px-3">
          <h2 class="h1 text-center-xs fw-normal">
            Explore our <strong>Top brands</strong>
          </h2>
          <p class="lead max-w-600 mx-auto">
            Search your favourites by brand, everything one click away
          </p>
        </div>
        <div class="bg-white shadow-3d rounded overflow-hidden rounded">
          <div class="bg-white overflow-hidden">
            <div class="row row-grid mt-n1 mb--n1">
              {% for data in categories %}
              <div class="col-6 col-md-5th d-flex align-items-center text-center">
                <a href="#" class="w-100">
                  <img style="max-height:60px;max-width:180px;" class="mx-3 my-5 lazy"
                    data-src="../../static/{{ data.photo }}"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- BRANDS : GRID : LAZYLOAD -->
        <div class="text-center pt-5">
          <a href="#" class="btn btn-sm btn-dark">
            All Categories
            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- INFO BOX -->
    <!-- Footer -->
   <!-- Footer -->
   <footer id="footer" class="bg-gray-900 text-white">

    <!-- footer cta -->
    <div class="container tet-white py-5 d-lg-flex flex-row align-items-lg-center">

      <div class="row g-4 align-items-center">
        <h3 class="col-lg-6 h2 mb-0">
          Join our community by using our services and grow your business.
        </h3>
        <div class="col text-lg-end">
          <a href="https://wrapbootstrap.com/theme/smarty-website-admin-rtl-WB02DSN1B" target="_blank" rel="noopener" class="btn btn-warning rounded-pill d-inline-flex align-items-center px-4">
            <span class="text-dark me-2">Start now</span>
            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">  
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
            </svg>
          </a>
        </div>
      </div>

    </div>
    <!-- /footer cta -->

    <!-- line divider -->
    <hr class="bg-gray-500 my-0 container">
    
    <div class="container py-5">

      <div class="row g-4">
        
        <div class="col-12 col-lg-4 mb-4">

          <!-- logo -->
          <img width="110" height="38" src="../../static/assets/images/logo/logo_light.svg" alt="...">

          <div class="my-4"><!-- copyright -->
            <p class="small mb-0">&copy; 2022 My Company Inc.</p>
            <p class="small mb-0">All rights reserved.</p>
          </div>

          <!-- social icons -->
          <a href="#" class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener" aria-label="facebook page">
            <i class="fi fi-social-facebook"></i> 
          </a>

          <a href="#" class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener" aria-label="twitter page">
            <i class="fi fi-social-twitter"></i> 
          </a>

          <a href="#" class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener" aria-label="linkedin page">
            <i class="fi fi-social-linkedin"></i> 
          </a>

          <a href="#" class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener" aria-label="youtube page">
            <i class="fi fi-social-youtube"></i> 
          </a>

        </div>

        <div class="col-12 col-lg-4 mb-4">

          <h3 class="small mb-4">GET IN TOUCH</h3>

          <p class="small col-md-10">
            Smarty is a responsive multipurpose template, created to help you build new projects in no time! Clean, fast, simple!
          </p>

          <div class="small d-flex align-items-start my-3">
            <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <ul class="list-unstyled p-0 m-0 w-100">
              <li>PO Box 21132</li>
              <li>Here Weare St, Melbourne</li>
              <li>Vivas 2355 Australia</li>
            </ul>
          </div>

          <div class="small d-flex align-items-start my-3">
            <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
            </svg>
            <ul class="list-unstyled p-0 m-0 w-100">
              <li>Phone: <a href="tel:18005652390" class="text-white text-dashed">093 - 708 - 275 - 116</a></li>
              <li>Email: <a href="mail:myemail@gmail.com" class="text-white text-dashed">hares@gmail.com</a></li>
            </ul>
          </div>

        </div>


        <div class="col-12 col-lg-4 mb-4">

          <h3 class="small mb-4">LEARN MORE</h3>

          <ul class="list-unstyled"> 
            <li class="list-item mb-2">
              <i class="fi fi-arrow-end me-2 smaller"></i>
              <a class="text-gray-400" href="contact-1.html">Contact</a>
            </li> 
            <li class="list-item mb-2">
              <i class="fi fi-arrow-end me-2 smaller"></i>
              <a class="text-gray-400" href="about-us-1.html">About Us</a>
            </li> 
            <li class="list-item mb-2">
              <i class="fi fi-arrow-end me-2 smaller"></i>
              <a class="text-gray-400" href="page-terms-and-conditions.html">Terms & Conditions</a>
            </li> 
            <li class="list-item mb-2">
              <i class="fi fi-arrow-end me-2 smaller"></i>
              <a class="text-gray-400" href="page-cookie.html">GDPR & Cookies</a>
            </li> 
          </ul>

        </div>

      </div>

    </div>

  </footer>
  <!-- /Footer -->
    <!-- /Footer -->
  </div>
  <script src="{% static '/assets/js/core.min.js' %}"></script>
</body>

</html>